body{
	padding: 0px;
	background-color: #323232;
	color: white;
}
#Container, #Camera, #ButtonWykresy, #Usage, #Autonomus, #Gyro, #Variables, #Robot{
	border: 2px solid #212121;
}

#Container{
	
	margin-left: auto;
	margin-right: auto;
	
	width: 1362px; /*1366px*/
	height: 764px; /*768px*/
}

#Timer, #RobotStatus{
	
	text-align: center;
	float: left;
	
	width: 50%;
	padding: 5px 0px 5px;
	font-size: 35px;
}

.NonDivider{clear: both;}

.Side, #ButtonWykresy, #Usage, #Gyro, #Autonomus, #Variables, #Robot{ float: left; }

.Divider{}

#Camera{width: 480px; height: 360px;} /*484px <- cała lewa strona*/

#ButtonWykresy{} /*75px*/

#Usage{width: 405px; height: 346px;} /*409px*/

#Gyro{width: 200px; height: 200px;} /*204px*/ /*Cała Prawa strona -> 878px*/

#Autonomus{width: 670px; height: 200px;} /*674px*/

#Variables{width: 400px; height: 506px;}

#Robot{width: 470px; height: 506px;}






/*Do zabawy robotem*/

svg * {
    stroke: white;
    fill: #323232;
    stroke-width: 2;
}







