body{
	padding: 0px;
	background-color: #323232;
	color: white;
}
#Container, #Camera, #ButtonWykresy, #Usage, #Autonomus, #Gyro, #Variables, #Robot, #VarSelect{
	border: 2px solid #212121;
}

#Container{
	
	margin-left: auto;
	margin-right: auto;
	
	width: 1330px; /*1366px*/
	height: 744px; /*768px*/
}

#Timer, #RobotStatus{
	
	text-align: center;
	float: left;
	
	width: 50%;
	padding: 5px 0px 5px;
	font-size: 35px;
}

.NonDivider{clear: both;}

.Side, #ButtonWykresy, #Usage, #Gyro, #Autonomus, #Variables, #Robot, .VarName, .VarValue, .VarInput{ float: left; }

.Divider{}

#Camera{width: 480px; height: 360px;} /*484px <- cała lewa strona*/

#ButtonWykresy{} /*75px*/

#Usage{width: 405px; height: 326px; position: relative;} /*409px*/

	.Usage{position: absolute; text-align: center; width:120px; height: 40px; font-size: 30px;}

#Gyro{width: 200px; height: 200px;} /*204px*/ /*Cała Prawa strona -> 878px*/

#Autonomus{width: 638px; height: 200px;} /*674px*/

	#Auto{margin-top: 50px; width: 642px; height: 100px;}
	
		#AutoSpace1{float: left; margin-left: 55px; width:150px; height: 100px;}
		
		#AutoSpace2{float: left; margin-left: 55px; width:150px; height: 100px;}
		
		#AutoSpace3{float: left; margin-left: 55px; width:150px; height: 100px;}
		
#Variables{width: 508px; height: 486px; overflow:auto;}

	#tuning{}

#Robot{width: 330px; height: 486px;}




/*Do zabawy robotem*/

svg * {
    stroke: white;
    fill: #323232;
    stroke-width: 2;
}

#gyro-value{
	stroke-width: 0.5;
	font-size: 15px;
}

.black{
	
	fill: #212121;
	stroke: #212121;
	
}

input{
	
	background-color: #424242; text-algin: center; border-style: none; color: white; width: 495px; height: 50px; padding-left: 10px; font-size: 24px;
	margin-left: auto;
	
}

input[type="button"]{
	
	background-color: #323232;
	border-color: #212121;
	border-style: solid;
	cursor: pointer;
	
	color: black;
	padding: 0px;
	font: 400 13.3333px Arial;
}

input[type="button"]:hover{
	
	background-color: #383838;
	border-color: #282828;
	
}

select{
	
	width: 150px;
	height: 100px;
	text-align: center;
	font-size: 16px;
	
	background-color: #323232;
	border: 1px solid #212121;
	color: white;
	
}
